body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}



.Rectangle-1 {
    width: 1560px;
    height: 64px;
    padding: 6px 15px 4px;
    opacity: 0.8;
    background-color: #525252;
}
section{
  padding-top: 0px;
}
.white_logo_transparent_background {
  width: 73px;
  height: 54px;
  margin: 0 601px 0 0;
  position: absolute;
  top: 1px;
  left: 6px;
}


.navbar .navbar-nav li{
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 0;

}


.navbar .navbar-nav .rounded-link{
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 6px  22px;
  background-color: #29626d;
  color: #fff;
}
.navbar .navbar-nav li a{
  color: #ffffff ;
}
img.Group-16 {
  width: 1560px;
  height: 370px;
  margin: 0px 0 40px;
}


.FAQs {
  width: 80px;
  height: 30px;
  margin: 40px 38px 14px 727px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
  justify-content: center;
}
.Forma-1-copy-5 {
  width: 24px;
  height: 25px;
  margin: 30px 28px 13px 30px;
  background-color: #1d7a8c;
}
.line{
	width: 62px;
	color: #646464;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
.Whether-you-are-Customer-or-Service-provider-We-have-tried-our {
  width: 491px;
  height: 44px;
  margin: 76px 314px 39px 209px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
  left: 312px;
  position: absolute;
}
.note{
  margin-top: 34px;
  margin-left: 308px;
  margin-bottom: 10px;
  width: 931px;
  
  display: flex;
  flex-direction: column;
}
.n-1{
  margin-left: 226px;
  width: 498px;
  height: 48px;
  text-align: center;
  letter-spacing: 0px;
  color: #646464;
  opacity: 1;
  font-family: "Roboto-Regular";
  font-size: 18px;
}

.buttons{
  width: inherit;
  margin-top: 0px;
  height: 66px;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}

.btn-1{
  height: inherit;
  flex: 0 0 50%;
  color: white;
  background-color: #29626D;
  border: 0;
}

.btn-2{
  height: inherit;
  flex: 0 0 50%;
  border: 0;
  border-bottom: 3px solid #29626D;
}
img.Vector-Smart-Object {
  width: 46px;
  height: 20px;
  margin: 16px 15px 20px 296px;
  object-fit: contain;
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Vestib {
  width: 888px;
  height: 15px;
  margin: 48px 326px 0px -18px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.25;
  letter-spacing: normal;
  
  color: #646464;
}
.form-group{
  left: 600px;
    position: absolute;
}
.new-head{
  margin-top: 55px; width: 449px;
      height: 38px;
      font-family: Roboto;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
}
#input-t-1{
  width: 233px;
height: 40px;
border-radius: 20px;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 2.29;
letter-spacing: normal;
text-align: left;
color: #565656;
border: solid 1px #565656;
}
#new-btn{
  width: 88px;
height: 40px;
border-radius: 20px;
border: 0px;
margin-left: 90px;
font-family: Roboto;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
background-color: #ff7b6d;

}
.footer{
  width: 100%;
  height: 195px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 90px;
}
.footer .f1{
  display: flex;
  flex-direction: row;
  height: 131px;
}
.footer .f1 div{
  width: 33%;
}
.footer img{
  width: 106px;
  height: 75px;
  margin-left: 122px;
  margin-top: 27px;
}
.f-list{
  width: 575px;
  height: 12px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  margin-top: 65px;
  justify-content: center;
  align-items: center;
}
.f-list ul{
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.f-list ul li{
  margin-left: 10px;
  margin-right: 10px;
}
.f-list ul li a{
  text-decoration: none;
  color: white;
}
.fimg{
  margin-top: 65px;
  padding-left: 270px;
}
#fi1{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 0;
}
#fi2{
  width: 9px;
  height: 18px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 0;
}

.footer .f2{
  width: 100%;
  height: 64px;
  
  text-align: center;
}
.f2 span{
  width: 775px;
  height: 14px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #f1f1f1;
  position: relative;
  top: -8px;
}
.Rectangle-12-copy-2 {
  width: 1320px;
  height: 1px;
  margin: 26px 0 27px 80px;
  background-color: #424242;
}