body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


.Rectangle-1 {
    width: 1560px;
    height: 64px;
    padding: 6px 15px 4px;
    opacity: 0.8;
    background-color: #525252;
}
section{
  padding-top: 0px;
}
.white_logo_transparent_background {
  width: 73px;
  height: 54px;
  margin: 0 601px 0 0;
  position: absolute;
  top: 1px;
  left: 6px;
}

img.Group-16 {
    width: 1560px;
    height: 370px;
    margin: 0px 0 40px;
}
.navbar .navbar-nav li{
  margin-left: 11px;
  margin-right: 11px;
  margin-top: 0;

}


.navbar .navbar-nav .rounded-link{
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 6px  22px;
  background-color: #29626d;
  color: #fff;
}
.navbar .navbar-nav li a{
  color: #ffffff !important;
}


.FAQs {
  width: 80px;
  height: 30px;
  margin: 40px 38px 14px 727px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
  justify-content: center;
}

.Rectangle-20 {
    width: 553px;
    height: 304px;
    margin: 44px 103px 51px;
    
    border: solid 1px #b0c9ce;
    background-color: var(--white);
  }
  .line{
    width: 62px;
    color: #646464;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  .Rectangle-20-copy {
    width: 553px;
    height: 59px;
    margin: 0 0 29px;
    padding: 18px 217px 20px;
    background-color: #1d7a8c;
  }
  .One-Time {
    width: 119px;
    height: 21px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  .hr {
    width: 93px;
    height: 36px;
    margin: 30px 211px 37px 234px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
    justify-content: center;
  }
  
  .hr .text-style-1 {
    font-size: 48px;
    font-weight: bold;
    
  }

  img.Forma-1 {
    width: 25px;
    height: 24px;
    margin: 25px 8px 19px 215px;
    object-fit: contain;
    
  }
  .Lower-prices {
    width: 90px;
    height: 15px;
    margin: -46px 278px 22px 263px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
  }
  .Rectangle-21 {
    width: 1140px;
    height: 1px;
    margin: 51px 77px 47px 190px;
    background-color: #dcdcdc;
  }
  .Extra-services {
    width: 222px;
    height: 27px;
    margin: 47px 40px 18px 51px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--greyish-brown);
  }
  .Forma-1-copy-6 {
    width: 24px;
    height: 25px;
    margin: 18px 8px 39px 735px;
    background-color: #1d7a8c;
  }
  .Ellipse-667 {
    width: 108px;
    height: 108px;
    margin: 39px -3px 17px 84px;
    padding: 30px 35px 30px 36px;
    border: solid 1px #b0c9ce;
    
  }
  img.Forma-1-3 {
    width: 37px;
    height: 48px;
    object-fit: contain;
    
  }
  .Inside-cabinets {
    width: 107px;
    height: 12px;
    margin: 17px 103px 12px 91px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
  }

  img.Shape-1 {
    width: 28px;
    height: 56px;
    object-fit: contain;
    
  }
  img.Forma-1_4 {
    width: 52px;
    height: 33px;
    object-fit: contain;
    
  }
  img.Forma-1_2 {
    width: 52px;
    height: 33px;
    object-fit: contain;
    
  }
  img.forma-1 {
    width: 47px;
    height: 47px;
    object-fit: contain;
    
  }
  .Inside-fridge {
    width: 87px;
    height: 15px;
    margin: 17px 5px 9px 95px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
  }
  .-minutes {
    width: 90px;
    height: 14px;
    margin: 9px 7px 61px 94px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #1d7a8c;
  }
  .Inside-oven {
    width: 79px;
    height: 12px;
    margin: 17px 37px 12px 99px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
  }
  .Laundry-wash-dry {
    width: 139px;
    height: 15px;
    margin: 17px 90px 9px 78px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
  }
  .Interior-windows {
    width: 117px;
    height: 12px;
    margin: 17px 70px 12px 85px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
  }

  /*                 */
.circle
{
  width: 108px;
  height: 108px;
  margin: 39px 113px 17px 175px;
  padding: 30px 35px 30px 36px;
  border-radius: 100%;
  border: solid 1px #b0c9ce;
}
img.Forma-1_3 {
  width: 37px;
  height: 48px;
  object-fit: contain;
  
  display: inline-block;
}
.Inside-cabinets {
  width: 107px;
  height: 12px;
  margin: 17px 103px 12px 180px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}
.-minutes {
  width: 90px;
  height: 14px;
  margin: 9px 7px 61px 182px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #1d7a8c;
  justify-content: center;
  display: flex;
  text-align: center;
}
.Rectangle-21-copy {
  width: 1560px;
  height: 740px;
  margin: 61px 0 78px;
  padding: 80px 211px 80px 209px;
  background-color: #f6f6f6;
}
.What-we-include-in-cleaning {
  width: 446px;
  height: 34px;
  margin: 0 19px 10px 32px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown);
}



.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.Group-18_3 {
  width: 360px;
  height: 210px;
  margin: 42px 30px 24px 0;
  object-fit: contain;
}
.Bedroom-and-Living-Room {
  width: 235px;
  height: 19px;
  margin: 24px 112px 17px 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown);
}
.Bathrooms {
  width: 97px;
  height: 15px;
  margin: 24px 70px 21px 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown);
}
.Kitchen {
  width: 67px;
  height: 15px;
  margin: 24px 293px 21px 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown);
}
.Dust-all-accessible-surfaces-Wipe-down-all-mirrors-and-glass-fi {
  width: 284px;
  height: 123px;
  margin: 23px 32px 15px 9px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--greyish-brown);
}
.Wash-and-sanitize-the-toilet-shower-tub-sink-Dust-all-access {
  width: 320px;
  height: 159px;
  margin: 22px 38px 2px 9px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--greyish-brown);
}
.Dust-all-accessible-surfaces-Empty-sink-and-load-up-dishwasher {
  width: 314px;
  height: 159px;
  margin: 22px 14px 2px 9px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--greyish-brown);
}
.ul{
  list-style-type: none;
}
.What-we-include-in-cleaning {
  width: 446px;
  height: 34px;
  margin: 0 19px 10px 32px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown);
}
.row{
  padding-top: 50px;
}
.Why-Helperland {
  width: 251px;
  height: 34px;
  margin: 10px 27px 10px 35px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown);
}
img.the-best-img-1 {
  width: 329px;
  height: 236px;
  margin: 42px 8px 66px 6px;
  object-fit: contain;
}

 .left-section .feature {
  text-align: right;
}
 .feature {
  margin-bottom: 30px;
  min-height: 116px;
}
 .feature span {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
  display: block;
}
 .left-section .feature p {
  margin-right: 0;
  margin-left: auto;
}
 .feature p {
  margin: 0;
  min-height: 60px;
  max-width: 320px;
}
.right-section .feature p {
  margin-left: 0;
  margin-right: auto;
}
.right-section .feature {
  text-align: left;
}




.footer{
  width: 100%;
  height: 195px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 90px;
}
.footer .f1{
  display: flex;
  flex-direction: row;
  height: 131px;
}
.footer .f1 div{
  width: 33%;
}
.footer img{
  width: 106px;
  height: 75px;
  margin-left: 122px;
  margin-top: 27px;
}
.f-list{
  width: 575px;
  height: 12px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  margin-top: 65px;
  justify-content: center;
  align-items: center;
}
.f-list ul{
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.f-list ul li{
  margin-left: 10px;
  margin-right: 10px;
}
.f-list ul li a{
  text-decoration: none;
  color: white;
}
.fimg{
  margin-top: 65px;
  padding-left: 270px;
}
#fi1{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 0;
}
#fi2{
  width: 9px;
  height: 18px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 0;
}

.footer .f2{
  width: 100%;
  height: 64px;
  
  text-align: center;
}
.f2 span{
  width: 775px;
  height: 14px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #f1f1f1;
  position: relative;
  top: -8px;
}
.Rectangle-12-copy-2 {
  width: 1320px;
  height: 1px;
  margin: 26px 0 27px 80px;
  background-color: #424242;
}